:root {
    --primary-color: #ff66b2;
    --secondary-color: #333;
    --background-color: #f9f9f9;
    --footer-bg-color: #222;
    --footer-text-color: #fff;
    --header-bg-color: #ffffff;
    --link-hover-color: #ff3399;
    --button-bg-color: #ff66b2;
    --button-hover-bg-color: #ff4d94;
    --button-text-color: #fff;
}
